<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<main class="container">
    <h2>Вход</h2>
    <p th:if="${error}"><mark th:text="${error}"></mark></p>
    <form th:action="@{/auth/login}" method="post" th:object="${user}">
        <input type="text" th:field="*{username}" placeholder="Логин" required>
        <input type="password" th:field="*{password}" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>
    <small><a href="/auth/register">Создать аккаунт</a></small>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>